body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar dashboard";
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    place-items: center;
}

.header img{
    width: 35px;
    height: 35px;
}

.header .search{
    place-self: center start;
}

.header .search input{
    width: 100%;
}

.notifications{
    display: flex;
    gap: 40px;
}

.greeting{
    place-self: center start;
    display: flex;
    gap: 40px;
}

.greeting-text{
    display: grid;
}

.buttons{
    display: flex;
    gap: 40px;
}

.sidebar{
    grid-area: sidebar;
}


.dashboard{
    grid-area: dashboard
}