body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar dashboard";
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    grid-area: sidebar;
}


.dashboard{
    grid-area: dashboard
}