@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --sidebar-color :  #fbbf24;
    --accent-color : #fb5424;
    --background-color : beige;
    --card-color : white;
    --shadow-color: rgba(49, 49, 49, 0.55);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar dashboard";
    background-color: var(--background-color);
}
.title{
    font-weight: bold;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
    "search search notifications"
    "greeting greeting buttons";
    box-shadow: 3px 3px 10px var(--shadow-color);
    background-color: var(--card-color);
}

.header img{
    width: 35px;
    height: 35px;
}

.greeting img{
    width: 100px;
    height: 100px;
}

.search{
    display: grid;
    place-self: center stretch;
    grid-area: search;
    padding-left: 10%;
}

.notifications{
    display: grid;
    place-items: center center;
    grid-area: notifications;
    grid-template-columns: repeat(3, 1fr);
}

.greeting{
    grid-area: greeting;
    place-self: center start;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting img{
    place-self: center center;
}

.buttons{
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 15px;
}

button{
    background-color: var(--sidebar-color);
    place-self: center stretch;
    border-radius: 18px;
    border: none;
    padding: 10px;
    flex: 1 0 5em;
}

.header .search input{
    width: 100%;
}

.greeting-text{
    display: grid;
}

.sidebar{
    grid-area: sidebar;
    padding: 20px;
    background-color: var(--sidebar-color);
    display: grid;
    align-content: start;
    gap: 40px;
    grid-template-columns: 1fr;
    font-weight: bold;
    font-size: 120%;
}

.sidebar-title, .link{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 12px;
    padding-top: 20px;
}

.sidebar .link img{
    width: 35px;
    height: 35px;
    place-self: center;
}

.sidebar .link p, .sidebar-title p{
    align-self: center;
}

.sidebar .sidebar-title img{
    width: 50px;
    height: 50px;
    place-self: center;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 4fr 0.25fr;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-titles{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 25px
}

.dashboard-titles div, .trending-title{
    align-self: center;
    padding-left: 5px;
    font-size: 120%;
}

.dashboard-content{
    display: grid;
    gap: 0 25px;
    grid-template-columns: 2fr 1fr;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding-left: 60%;
}

.card{
    display:grid;
    grid-template-columns: 10px 1fr;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow-color);
}

.card-content{
    display: grid;
    grid-template-rows: 0.25 1fr .5fr;
    padding: 15px;
}

.card-accent{
    background-image: linear-gradient(var(--sidebar-color), var(--accent-color));
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card img{
    width: 25px;
    height: 25px;
}

.announcments-trending-container{
    display: grid;
    grid-template-rows: 1fr 60px 1fr;
}

.announcments-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--card-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow-color);
}

.announcments{
    display: grid;
    background-color: var(--background-color);
    gap: 3px;
}

.announcment{
    background-color: var(--card-color);
    padding-bottom: 10px;
}

.trending{
    display: grid;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px var(--shadow-color);
}

.trend{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.trend img {
    place-self: center;
    width: 60px;
    height: 60px;
}

.trend-text{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 10px;
}

.trend-text p:first-child{
    align-self: end;
    font-weight: bold;
}

.trend-text p:last-child, .card p:nth-child(2){
    font-size: 85%;
    color: rgba(0, 0, 0, 0.75);
}

.announcment p:last-child{
    font-size: 75%;
    color: rgba(0, 0, 0, 0.75);
}

.announcment p:first-child{
    padding-top: 5px;
    padding-bottom: 5px;
}